Dataframe (df)
Series -> Col
Index ->

In [1]:
import pandas as pd

In [2]:
grape_data = pd.read_csv(r"/Users/tombowers/Codefi/Lesson_08/sources/GRAPE_QUALITY.csv")
grape_data.set_index(['region','variety', 'sample_id'], inplace = True)

In [3]:
grape_data.sort_index()

                                             quality_score quality_category  \
region         variety            sample_id
Barossa Valley Cabernet Sauvignon 133                 1.84           Medium
                                  229                 2.73             High
                                  247                 2.06           Medium
                                  248                 1.91           Medium
                                  252                 2.46           Medium
...                                                    ...              ...
Tuscany        Zinfandel          734                 2.68             High
                                  751                 2.19           Medium
                                  788                 3.25             High
                                  807                 2.13           Medium
                                  982                 2.13           Medium

                                             sugar_content_brix  acidity_ph  \
region         variety            sample_id
Barossa Valley Cabernet Sauvignon 133                     11.62        3.58
                                  229                     29.68        3.22
                                  247                     12.62        2.89
                                  248                     10.65        3.96
                                  252                     19.63        4.07
...                                                         ...         ...
Tuscany        Zinfandel          734                     18.52        4.14
                                  751                     20.71        3.34
                                  788                     22.28        3.08
                                  807                     23.23        3.86
                                  982                     26.05        3.13

                                             cluster_weight_g  berry_size_mm  \
region         variety            sample_id
Barossa Valley Cabernet Sauvignon 133                  329.81          19.93
                                  229                   81.60          16.99
                                  247                  200.03          13.76
                                  248                  173.59          11.81
                                  252                   84.62          10.93
...                                                       ...            ...
Tuscany        Zinfandel          734                  200.46          23.93
                                  751                  318.67          15.12
                                  788                  189.19          23.58
                                  807                  179.37          11.17
                                  982                  291.69          13.64

                                            harvest_date  sun_exposure_hours  \
region         variety            sample_id
Barossa Valley Cabernet Sauvignon 133         2023-08-01                 6.6
                                  229         2023-08-25                 6.9
                                  247         2023-08-11                10.8
                                  248         2023-09-11                11.2
                                  252         2023-08-02                11.8
...                                                  ...                 ...
Tuscany        Zinfandel          734         2023-08-16                 9.2
                                  751         2023-08-09                 7.5
                                  788         2023-08-25                10.9
                                  807         2023-08-23                 8.1
                                  982         2023-08-16                 6.1

                                             soil_moisture_percent  \
region         variety            sample_id
Barossa Valley Cabernet Sauvignon 133                         51.6
                                  229                         61.2
                                  247                         36.7
                                  248                         61.9
                                  252                         37.0
...                                                            ...
Tuscany        Zinfandel          734                         43.8
                                  751                         41.5
                                  788                         62.2
                                  807                         59.6
                                  982                         51.5

                                             rainfall_mm
region         variety            sample_id
Barossa Valley Cabernet Sauvignon 133              602.8
                                  229              768.5
                                  247              601.1
                                  248              717.7
                                  252              748.6
...                                                  ...
Tuscany        Zinfandel          734              686.1
                                  751              295.0
                                  788              754.5
                                  807              631.7
                                  982              326.6

[1000 rows x 10 columns]

In [4]:
grape_data.head()

                                          quality_score quality_category  \
region         variety         sample_id
Barossa Valley Riesling        1                   2.11           Medium
Loire Valley   Pinot Noir      2                   2.83             High
Napa Valley    Sauvignon Blanc 3                   3.52          Premium
               Riesling        4                   2.28           Medium
               Merlot          5                   2.90             High

                                          sugar_content_brix  acidity_ph  \
region         variety         sample_id
Barossa Valley Riesling        1                       13.70        3.17
Loire Valley   Pinot Noir      2                       20.84        3.15
Napa Valley    Sauvignon Blanc 3                       27.46        4.07
               Riesling        4                       24.64        3.15
               Merlot          5                       26.13        3.18

                                          cluster_weight_g  berry_size_mm  \
region         variety         sample_id
Barossa Valley Riesling        1                    251.81          18.58
Loire Valley   Pinot Noir      2                    289.00          22.08
Napa Valley    Sauvignon Blanc 3                    125.14          21.40
               Riesling        4                    237.46          12.31
               Merlot          5                    221.52          12.24

                                         harvest_date  sun_exposure_hours  \
region         variety         sample_id
Barossa Valley Riesling        1           2023-09-04                 8.4
Loire Valley   Pinot Noir      2           2023-09-16                 8.8
Napa Valley    Sauvignon Blanc 3           2023-08-25                11.1
               Riesling        4           2023-09-13                 8.0
               Merlot          5           2023-08-11                11.2

                                          soil_moisture_percent  rainfall_mm
region         variety         sample_id
Barossa Valley Riesling        1                           55.9        223.3
Loire Valley   Pinot Noir      2                           36.9        312.1
Napa Valley    Sauvignon Blanc 3                           64.9        698.7
               Riesling        4                           54.5        660.1
               Merlot          5                           36.3        410.4

In [5]:
quality_filter = grape_data["quality_score"] > 3

In [6]:
# quality_category_filter = grape_data["quality_category"] == "Medium"
# grape_data[quality_category_filter]

grape_data[grape_data["quality_category"] == "Medium"]

,,,quality_score,quality_category,sugar_content_brix,acidity_ph,cluster_weight_g,berry_size_mm,harvest_date,sun_exposure_hours,soil_moisture_percent,rainfall_mm
region,variety,sample_id,,,,,,,,,,
Barossa Valley,Riesling,1,2.11,Medium,13.70,3.17,251.81,18.58,2023-09-04,8.4,55.9,223.3
Napa Valley,Riesling,4,2.28,Medium,24.64,3.15,237.46,12.31,2023-09-13,8.0,54.5,660.1
Mendoza,Zinfandel,6,2.05,Medium,23.18,3.86,299.85,14.02,2023-09-29,6.5,68.5,426.1
Tuscany,Riesling,9,2.01,Medium,14.99,2.89,252.21,20.20,2023-09-29,7.1,55.1,344.7
Rioja,Chardonnay,10,2.07,Medium,19.79,3.48,65.55,10.85,2023-08-01,8.6,40.1,324.9
...,...,...,...,...,...,...,...,...,...,...,...,...
Napa Valley,Pinot Noir,994,2.28,Medium,12.71,3.36,65.39,19.73,2023-08-21,9.0,33.3,388.9
Mendoza,Pinot Noir,995,1.91,Medium,25.03,2.98,197.76,11.03,2023-08-07,6.4,67.1,270.1
Napa Valley,Pinot Noir,998,2.11,Medium,11.38,3.23,168.37,14.92,2023-08-28,10.6,66.5,473.2
Loire Valley,Zinfandel,999,2.28,Medium,11.14,3.21,208.98,22.24,2023-08-24,8.9,43.8,745.1
Napa Valley,Merlot,1000,1.96,Medium,15.64,4.02,98.41,18.96,2023-08-29,6.9,54.9,262.7

In [7]:
grape_data.iloc[42]

quality_score                  2.04
quality_category             Medium
sugar_content_brix            16.38
acidity_ph                     3.53
cluster_weight_g              83.99
berry_size_mm                 17.02
harvest_date             2023-09-10
sun_exposure_hours              7.2
soil_moisture_percent          47.1
rainfall_mm                   587.6
Name: (Loire Valley, Chardonnay, 43), dtype: object

In [8]:
grape_data.loc['Napa Valley'].head()

,,quality_score,quality_category,sugar_content_brix,acidity_ph,cluster_weight_g,berry_size_mm,harvest_date,sun_exposure_hours,soil_moisture_percent,rainfall_mm
variety,sample_id,,,,,,,,,,
Sauvignon Blanc,3,3.52,Premium,27.46,4.07,125.14,21.40,2023-08-25,11.1,64.9,698.7
Riesling,4,2.28,Medium,24.64,3.15,237.46,12.31,2023-09-13,8.0,54.5,660.1
Merlot,5,2.90,High,26.13,3.18,221.52,12.24,2023-08-11,11.2,36.3,410.4
Sauvignon Blanc,22,2.01,Medium,15.95,3.58,179.83,13.61,2023-08-21,8.6,64.1,690.1
Pinot Noir,33,1.91,Medium,14.60,3.45,275.28,11.22,2023-09-17,9.4,61.6,551.5

In [9]:
grape_data.xs("Riesling", level = 'variety')
#0 = region
#1 = variety
#2 = sample_id

                          quality_score quality_category  sugar_content_brix  \
region         sample_id
Barossa Valley 1                   2.11           Medium               13.70
Napa Valley    4                   2.28           Medium               24.64
Tuscany        9                   2.01           Medium               14.99
Mendoza        12                  3.12             High               29.75
Sonoma         42                  2.82             High               25.81
...                                 ...              ...                 ...
Rioja          946                 2.61             High               20.35
Bordeaux       960                 3.40             High               25.71
Sonoma         964                 2.81             High               17.68
Mendoza        965                 2.53             High               21.44
               972                 2.88             High               26.63

                          acidity_ph  cluster_weight_g  berry_size_mm  \
region         sample_id
Barossa Valley 1                3.17            251.81          18.58
Napa Valley    4                3.15            237.46          12.31
Tuscany        9                2.89            252.21          20.20
Mendoza        12               2.89            136.29          15.88
Sonoma         42               3.59            341.20          14.34
...                              ...               ...            ...
Rioja          946              2.94             54.98          24.11
Bordeaux       960              3.93             61.82          21.24
Sonoma         964              4.17            224.98          21.23
Mendoza        965              4.00             53.39          17.24
               972              3.03            213.26          23.47

                         harvest_date  sun_exposure_hours  \
region         sample_id
Barossa Valley 1           2023-09-04                 8.4
Napa Valley    4           2023-09-13                 8.0
Tuscany        9           2023-09-29                 7.1
Mendoza        12          2023-08-16                10.2
Sonoma         42          2023-09-13                 9.6
...                               ...                 ...
Rioja          946         2023-08-21                 8.0
Bordeaux       960         2023-08-31                10.9
Sonoma         964         2023-08-18                10.6
Mendoza        965         2023-09-15                 8.9
               972         2023-08-05                 7.2

                          soil_moisture_percent  rainfall_mm
region         sample_id
Barossa Valley 1                           55.9        223.3
Napa Valley    4                           54.5        660.1
Tuscany        9                           55.1        344.7
Mendoza        12                          62.7        683.5
Sonoma         42                          35.1        436.9
...                                         ...          ...
Rioja          946                         60.5        284.5
Bordeaux       960                         68.2        223.2
Sonoma         964                         55.7        481.1
Mendoza        965                         41.9        559.0
               972                         54.1        582.2

[119 rows x 10 columns]

In [10]:
region_group = grape_data.groupby(['region', 'variety'])

In [11]:
acidity_functions = { "acidity_ph": {"mean", "median", "count"}}

acidity_aggregate = region_group.agg(acidity_functions)

In [12]:
print(acidity_aggregate)

                                  acidity_ph
                                        mean count median
region         variety
Barossa Valley Cabernet Sauvignon   3.312222    18  3.240
               Chardonnay           3.535294    17  3.480
               Merlot               3.713077    13  3.710
               Pinot Noir           3.684444    18  3.865
               Riesling             3.493684    19  3.410
...                                      ...   ...    ...
Tuscany        Pinot Noir           3.608667    15  3.590
               Riesling             3.240833    12  3.085
               Sauvignon Blanc      3.341667    12  3.415
               Syrah                3.320909    11  3.280
               Zinfandel            3.529444    18  3.550

[64 rows x 3 columns]

1.    Load the CSV into Python
2.    View the Head of the data. Does everything look okay?
3.    View the initial Descriptive Statistics of the whole dataset.
4.    Create and sort two Indices: One for drink and one for type.
5.    Show me the descriptive statistics for only Coffee.
6.    Group the drinks by type. What's the median amount of caffeine in mg per type? What's the max amount of caffeine per type?
7.    Get the count of drinks per type, where their caffeine level is greater than 100 mg.

In [13]:
caffeine_df = pd.read_csv('./sources/caffeine.csv')

In [14]:
caffeine_df.head()

                         drink  Volume (ml)  Calories  Caffeine (mg)    type
0                 Costa Coffee   256.993715         0            277  Coffee
1  Coffee Friend Brewed Coffee   250.191810         0            145  Coffee
2           Hell Energy Coffee   250.191810       150            100  Coffee
3           Killer Coffee (AU)   250.191810         0            430  Coffee
4                 Nescafe Gold   250.191810         0             66  Coffee

In [15]:
caffeine_df.describe()

       Volume (ml)    Calories  Caffeine (mg)
count   610.000000  610.000000     610.000000
mean    346.543630   75.527869     134.693443
std     143.747738   94.799919     155.362861
min       7.393375    0.000000       0.000000
25%     236.588000    0.000000      50.000000
50%     354.882000   25.000000     100.000000
75%     473.176000  140.000000     160.000000
max    1419.528000  830.000000    1555.000000

In [16]:
caffeine_df.set_index(['drink', 'type'],inplace=True)

# caffeine_df.sort_index()

In [17]:
caffeine_df.head()

                                    Volume (ml)  Calories  Caffeine (mg)
drink                       type
Costa Coffee                Coffee   256.993715         0            277
Coffee Friend Brewed Coffee Coffee   250.191810         0            145
Hell Energy Coffee          Coffee   250.191810       150            100
Killer Coffee (AU)          Coffee   250.191810         0            430
Nescafe Gold                Coffee   250.191810         0             66

In [18]:
caffeine_df.xs('Coffee', level = 'type').describe()

       Volume (ml)    Calories  Caffeine (mg)
count   173.000000  173.000000     173.000000
mean    335.870855   73.497110     200.589595
std     159.716392  123.954353     248.222165
min      12.716605    0.000000       2.000000
25%     236.588000    0.000000     100.000000
50%     325.308500    5.000000     145.000000
75%     473.176000  120.000000     200.000000
max    1419.528000  830.000000    1555.000000

In [19]:
caffeine_df.groupby(by='type').agg({"Caffeine (mg)": ["median", "max"]})

              Caffeine (mg)
                     median   max
type
Coffee                145.0  1555
Energy Drinks         135.0   400
Energy Shots          192.5   350
Soft Drinks            37.0   102
Tea                    45.0   165
Water                  60.0   120

In [22]:
caffeine_df.head()

                                    Volume (ml)  Calories  Caffeine (mg)
drink                       type
Costa Coffee                Coffee   256.993715         0            277
Coffee Friend Brewed Coffee Coffee   250.191810         0            145
Hell Energy Coffee          Coffee   250.191810       150            100
Killer Coffee (AU)          Coffee   250.191810         0            430
Nescafe Gold                Coffee   250.191810         0             66

## How to Filter a DataFrame

1. Target the "series" (column) and use a comparative expression
2. Put the returned boolean column "back in" to the original dataframe, to exclude False rows
3. Profit

In [24]:
step_one = caffeine_df['Caffeine (mg)'] > 100

step_one.head()

step_two = caffeine_df[step_one]

step_two.head() #Filtered!!

                                       Volume (ml)  Calories  Caffeine (mg)
drink                          type
Costa Coffee                   Coffee   256.993715         0            277
Coffee Friend Brewed Coffee    Coffee   250.191810         0            145
Killer Coffee (AU)             Coffee   250.191810         0            430
Espresso Monster               Coffee   248.417400       170            160
Dunkin Donuts Shot In The Dark Coffee   239.545350        80            134

In [25]:


filtered_caffeine_df = caffeine_df[caffeine_df['Caffeine (mg)'] > 100]

filtered_caffeine_df.groupby('type').agg('count')

               Volume (ml)  Calories  Caffeine (mg)
type
Coffee                 121       121            121
Energy Drinks          138       138            138
Energy Shots            28        28             28
Soft Drinks              1         1              1
Tea                     10        10             10
Water                    1         1              1